.Layout {
  width: max(500px, min(500px, 80%));
  box-sizing: border-box;
  padding: 14px 14px;
  border: 1px solid black;
  border-radius: 20px;
}

.Layout form {
  width: 100%;
  height: 100%;
}
.form-actions {
  display: flex;
  justify-content: right;
  gap: 5px;
  margin-top: 1em;
}

.form-field {
    margin-top: 1em;
}
